<footer>
	<div class="footer-menu">
		<div class="wrap">
    		<div class="menu">
	    		<ul inio-menu items="sections"></ul>
    		</div>
		</div>
	</div>
	<div class="wrap">
		<div class="bottom">
			<div class="backlink"><a href="http://www.inio.tv/">INIO.TV - Open Source OTT solution</a></div>
			<div class="mautilus"></div>
			<div class="social">
				<span class="facebook"></span>
				<span class="twitter"></span>
			</div>
			<div class="copyright">&copy; 2014, All rights reserved.</div>
		</div>
	</div>
</footer>